/* Custom CSS for User Profile Page */

body {
    background-image: url("../Assests/background-2.png"); /* Background image */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

/* Container styling */
.container-fluid {
    background-color: rgba(189, 140, 63, 0.97); /* Background color with opacity */
    border: 2px solid #37290C;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5); /* Box shadow with opacity */
    padding: 20px;
    max-width: 900px;
    min-height: 100vh;
}

.row {
    justify-content: center;
    align-items: center;
    min-height: 100%;
}


/* NAV bar styling */
.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #ba8530;
    font-size: 1.6em;
}

.navbar {
    background-color: #37290C ;
    color: #f4f0f0;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.5); /* Box shadow with opacity */
}

.navbar-brand {
    color: #c5b28c;
}

.navbar-nav .nav-link {
    color: #c5b28c;
}

.navbar-nav .nav-link:hover {
    color: #f4f0f0;
}

#userPostContainer{
    background-color: rgba(55, 41, 12, .97);
}

#container {
    background-color: rgba(242, 237, 223, .5);
    border: 2px solid #37290C;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.5);
    padding: 60px;
    margin: 10px;
}
.post {
    background-color: rgba(55, 41, 12, .97);
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border: 2px solid #37290C;
    margin: 10px;
    color: #ffffff;
    font-family: 'Genos', sans-serif; 
}
#category-counts-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 30px;
    padding: .375rem .75rem;
    line-height: 1.5;
    border: 1px #dee2e6 solid;
    font-family: 'Genos', sans-serif; 
}
h1{
    color: #000000;
    float: right;
    padding: 3px;
    font-weight: 700;

}
 h4 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: 500;
 }

 small {
    color: #ba8530;
    font-size: 1.2em;
    
 }